* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    scroll-behavior: smooth;
}

body {
    background-color: #16C172;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: aliceblue;
}

.col {
    float: left;
    width: 50%;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    width: 200px;
    height: 200px;
    margin-left: 50px;
    margin-top: 40px;
}

.header_text {
    float: right;
    margin-right: -50px;
    margin-top: 80px;
    font-size: 100px;
    color: #080705;
}

.header_buttons {
    width: 75px;
    height: 50px;
    margin-top: 5px;
}

.season_winners {
    margin-top: 100px;
    margin-left: 33%;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    color: white;
}

.column {
    float: left;
    width: 33.33%;
}

.header_logo {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-top: 5px;
}

.header_div {
    display: inline;
    margin-left: 10px;
}

.header_title {
    display: inline-block;
}

.buttons_div {
    float: right;
}

header {
    background-color: #214F4B;
    height: 75px;
}

.main_buttons {
    display: block;
    width: 200px;
    height: 75px;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    background-color: #1fb3a6;
    border: none;
    box-shadow: #105f59 0px 5px;
    margin-left: 45%;
    margin-top: 50px;
}

.main_buttons:hover {
    transform: translateY(5px);
    transition: ease-in-out 100ms;
    box-shadow: none;

}

.button_intro {
    text-align: center;
    margin-top: 100px;
}