* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    scroll-behavior: smooth;
}

body {
    background-color: #16C172;
    overflow: visible;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: aliceblue;
}

.col {
    float: left;
    width: 50%;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    width: 200px;
    height: 200px;
    margin-left: 50px;
    margin-top: 40px;
}

.header_text {
    float: right;
    margin-right: -50px;
    margin-top: 80px;
    font-size: 100px;
    color: #080705;
}

.header_buttons {
    width: 75px;
    height: 50px;
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    position: inherit;
    float: left;
    text-align: center;
    border-radius: 5px;
    border: none;
    text-align: center;

}

.text_button {
    text-align: center;
    position: relative;
}

.season_winners {
    margin-top: 100px;
    margin-left: 33%;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    color: white;
}

.column {
    float: left;
    width: 33.33%;
}

.header_logo {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-top: 5px;
}

.header_div {
    display: inline;
    margin-left: 10px;
    width: 100%;
}

.home_button {
    position: relative;
    height: 200px;
    width: 200px;
    padding-top: 50px;
    padding-bottom: 10px;
    cursor: pointer;
}

.header_title {
    display: inline-block;
}

.buttons_div {
    float: right;
    position: relative;
}

header {
    background-color: #214F4B;
    height: 75px;
}

.main_buttons {
    display: block;
    width: 200px;
    height: 75px;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    background-color: #1fb3a6;
    border: none;
    box-shadow: #105f59 0px 5px;
    margin-left: 45%;
    margin-top: 50px;
    cursor: pointer;
    transition: ease-in-out 800ms;
}

#social_button {
    transition: ease-in-out 800ms;
}

.main_buttons:hover {
    transform: translateY(10px);
    transition: linear 10ms;
    box-shadow: none;

}

.button_intro {
    text-align: center;
    margin-top: 100px;
    transition: ease-in-out 800ms;
}

.socials_container {
    width: 40%;
    height: 250px;
    background-color: #214f4b91;
    margin-left: 30%;
    position: relative;
}

.social_title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 45, 170);
    text-align: center;
}

.socials_logo {
    margin-left: 25%;
    width: 50%;
    height: auto;
}

.button_text {
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    bottom: 0;
    text-align: center;
}

.socials {
    transform: translateY(5000px);
    transition: ease-in-out 1s;
}

.header_text {
    display: inline-block;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    color: aliceblue;
    position: relative;
}

.col_3 {
    float: left;
    width: 33.33%;
    height: auto;
    
}

.logo_winners {
    width: 50%;
    height: auto;
    margin-left: 25%;
}

h4 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    text-align: center;

}

.winners_section {
    transform: translateY(1000px);
    transition: 500ms ease-in-out;
}